*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  nav{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #313131;
  align-items: center;
}

  .logoMenu1{
  margin-left: 35px;
  margin-top: 5px;
}

  .menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
}

  ul{
  height: 100%;
  width: 100%;
  background-color: #313131;
  height: 60px;
  list-style-type: none;
  margin: 0; 
}

  ul li {
    display: inline-block;
    width: 35%;
    height: 100%;
    position: relative;
    text-align: center;
    padding-top: 10px; 
}

  ul ul {
    position: absolute;
    display: none; 
    width: 150px;
    height: 150px;
}

  ul ul li{
    display: flex;
    height: 30px;
    margin-top:25px;
    margin-left: 25px;
}

  .liBot:hover ul{
    display: block;
    width: 100%; 
}

  ul li:hover{
    background-color: #303030; 
}

  ul a{
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Fredericka the Great', cursive; 
    text-decoration: none;
    font-weight: 200;
}
    
  section{
  height: 100%;
  width: 100%; 
}
  section div{
    width: 100%;
    height: 100%; 
}

  section img{
    max-width: 100%;
    width: 100%;
    height: auto; 
}
  .divHome img{
      height: 500px;
      width: 100%;
      max-width: 100%;
      background-size: cover;
      background-position: center;
      border-bottom: solid 3px black;
}

  .divHome2 img{
      height: 500px;
      width: 100%;
      max-width: 100%;
      background-size: cover;
      background-position: center;
      border-bottom: solid 3px black;
}

  .divHome3 img{
      height: 500px;
      width: 100%;
      max-width: 100%;
      background-size: cover;
      background-position: center;
      border-bottom: solid 3px black;
}

  .divHome4 img{
      height: 500px;
      width: 100%;
      max-width: 100%;
      background-size: cover;
      background-position: center;
      border-bottom: solid 3px black;
}
  .divHome5 img{
      height: 500px;
      width: 100%;
      max-width: 100%;
      background-size: cover;
      background-position: center;
      border-bottom: solid 3px black;
}

  .divHome6 img{
      height: 500px;
      width: 100%;
      max-width: 100%;
      background-size: cover;
      background-position: center;
      border-bottom: solid 3px black;
}

  .imgBotLane{
      height: 100vh;
}

  .divContainer{
      width: 60%;
      margin: 5% ;
      margin-right: auto;
      margin-left: auto;
}

  div h2{
      text-align: center;
      color: black;
      font-size: 50px;
      font-family: 'Wallpoet', cursive;
}

  div p{
      width: 80%;
      font-size: 20px;
      text-align: center;
      color: black;
      margin-top: 20px;
      margin-left: 60px;
      font-weight: 400;
      font-family: 'Gruppo', cursive;
}

  .mapaImg img{
      width: 80%;
      height: 75%;
}

  .divMapa h2{
      text-align: center;
      font-size: 2.5rem;
}

.baronNashor img{
  width: 75%;
  height: 80%;
}
.baronNashor h2{
  text-align: left;
  font-size: 2.5rem;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}



  .tarjetaLineas{
      display: flex;
      justify-content: center;
}

  .tarjetaContenido:hover{
    background-color:rgb(42, 98, 102) ;
}

  .tarjetaContenido{
      width: 400px;
      height: auto;
      margin: 20px;
      padding: 20px;
      background-color:lightblue;
      border-radius: 25px;
      text-align: center;
      transition-property: background-color;
      transition-duration: 2s;
}

  .tarjetaContenido h2{
    display: block;
    margin-block-start: 0.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

  .tarjetaContenido p{
      text-align: center;
      margin-left: 40px;
      margin-top: 0;
      margin-bottom: 1rem;
}

  .tarjetaContenido img{
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
    object-fit: cover;
}

footer{
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 3px black;
  background-color: #313131; 
  margin-bottom: 0;
}

  footer p{
    text-align: center;
    font-size: 30px;
    font-family: 'Fredericka the Great', cursive; 
    text-decoration: none;
    font-weight: 200;
    color: whitesmoke;
    margin: 0;
}

  .logos{
  display: flex;
  justify-content: space-evenly;
}

  footer a img{
    width: 40px;
    height: 40px;
  }

  @media screen and (max-width:768px){
    header nav ul .menu{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    footer p{
      font-size: 20px;
    }
    .divContainer{
      width: auto;
    }
    .logoMenu1{
      margin-left: 0;
    }
  }




